.cabecalho {
  background-color: var(--verde-escuro);
  height: 64px;
}

.cabecalho_logo img {
  width: 80px;
  height: 36px;
}

.cabecalho_caixa {
  justify-content: space-between;
  height: inherit;
  margin:auto;
}

.cabecalho_menu-item span, ul {
  align-items: center;
  display: inline-block;
  /* padding: 0.5rem; */
  margin:0;
  color: var(--verde-claro);
  font-weight: bold;
}

.cabecalho_menu-item a {
  border-radius: 20px;
  text-decoration: none;
}

.cabecalho_caixa,
.cabecalho_menu-item a {
  display: flex;
  align-items: center;
}

.cabecalho_menu-item a,
.cabecalho_menu-item span {
  transition: 1s;
}

.cabecalho_menu-item a:hover {
  background-color: var(--branco);
}

.cabecalho_menu-item a:hover span {
  color: var(--verde-escuro);
}